<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="http://resource.farbox.com/css/style.css?version={{ resource_version }}">
</head>
<body>


<div id="content">
    {% block content %}
    {% endblock %}
</div>



<div id="footer">

    <div class="powered_by">
        <a target='_blank' href="http://www.farbox.com">Proudly Powered By FarBox.com</a>
        <span>©2012-2015 Z.R.E.Y Inc.</span>
    </div>
</div>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36651986-3']);
    _gaq.push(['_setDomainName', 'farbox.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var info = 'page:' + document.location.host +document.location.pathname + document.location.search + ' ref:' + document.referrer;
    _gaq.push(['_trackEvent', 'Error', '{{ code }}' ,info]);
</script>

</body>
</html>


