<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.configs.title }}</title>
    <link href="http://{{ site.configs.domain }}/"/>
    <link href="http://{{ site.configs.domain }}/feed" rel="self" />
    <id>{{ site.configs.domain }}</id>
    {% if posts %}
    <updated>{{ posts[0]['date'].strftime('%Y-%m-%dT%H:%M:%SZ')}}</updated>
    {% endif %}

    {% for post in posts %}
    <entry>
        <title>{{ post.title }}</title>
        <link href="http://{{ site.configs.domain }}{{ post.url }}" rel="alternate"></link>
        <updated>{{ post.date.strftime('%Y-%m-%dT%H:%M:%SZ')}}</updated>
        <id>{{ post.url_path }}</id>
        <author>
            <name>{{ site.configs.author or site.title}}</name>
        </author>
        <summary type="html">{{ post.content | escape }}</summary>
    </entry>
    {% endfor %}
</feed>